<!DOCTYPE html>
<html>
  <head>
    <title>TV Guide Data</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="top">
      <div class="header">
         <a href="index.html" style="text-decoration:none;color: inherit;"><div class="home"> <span>HOME</span> </div></a>
         <a href="livetv.html" style="text-decoration:none;color: inherit;"><div class="live-tv"> <span>LIVE TV</span> </div></a>
      </div>
      <div class="headerIMG">
           <img src="/images/header" width="100%" height="5%" style="opacity: 100%;">
      </div>
    </div>
    <div id="live">
      <h1 id="LiveH1"></h1>
      <div id="live-fixtures-container"></div>
   </div>
    
     <h2 style="color: white;font-family: 'Alatsi', sans-serif;font-size: 22px;margin-bottom: 50px;margin-left: 5px;">Live Channels</h2>
     <div class="horizontal-scroll">
       <button class="LeftScroll" id="LeftScroll" onclick="scrollHorizontally2(1)"><img src="https://o.remove.bg/downloads/73a1adbb-8947-4930-aeb6-ee6a1abe2fc4/arrows-icon-left-arrow-icon-back-icon-pointers-icon-white-black-text-logo-line-material-property-png-clipart-removebg-preview.png" width="25" height="30" style="position: relative;bottom:5px;right: 4px;"></button>
       <button class="RightScroll" id="RightScroll" onclick="scrollHorizontally2(-1)"><img src="https://o.remove.bg/downloads/6b74b198-4fab-43f1-86b4-89743d4a5f4d/arrow-icon-forward-icon-navigation-icon-png-clipart-thumbnail-removebg-preview.png" width="25" height="30" style="position: relative;bottom:5px;right: 0px;"></button>
       <div class="live-channels-container">    
          <a href='bt-sport1.html'><div id="tnt-sport1" class="channel" >
              <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
                  <a href='/tv-guide-bt-sport-1/' title='BT Sport 1'>
                    <img src='https://img01.products.bt.co.uk/content/dam/bt/portal/images/logos/tnt/TNTSports1_Logo_White_RGB_Logo.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
                  </a>
                  <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
              </div>
              <div class="rightSide">
                  <div class="title-row">TNT Sports 1</div>
                  <div class="information-row">
                      <div class="titleAndDesc">
                          <h class="title"><%= TNTSports1.title %></h>
                          <div class="truncated-text">
                            <p class="truncated-content"><%= TNTSports1.description %></p>
                            <p class="full-content"><%= TNTSports1.description %></p>
                          </div>
                      </div>
                      <div class="time">
                          Time: <%= TNTSports1.time %>
                      </div>
                      <div class="progress"></div>
                      <div class="progress-completed" data-progress="<%= TNTSports1.progress %>"></div>
                        
                  </div>
              </div>
            </div>
          </a>
          <!-- TNT Sports 2 Channel -->
          <a href='bt-sport1.html'><div id="tnt-sport2" class="channel" >
            <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
                <a href='/tv-guide-bt-sport-1/' title='BT Sport 2'>
                  <img src='https://img01.products.bt.co.uk/content/dam/bt/portal/images/logos/tnt/TNTSports2_Logo_White_RGB_Logo.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
                </a>
                <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
            </div>
            <div class="rightSide">
                <div class="title-row">TNT Sports 2</div>
                <div class="information-row">
                    <div class="titleAndDesc">
                        <h class="title"><%= TNTSports2.title %></h>
                        <div class="truncated-text">
                          <p class="truncated-content"><%= TNTSports2.description %></p>
                          <p class="full-content"><%= TNTSports2.description %></p>
                        </div>
                    </div>
                    <div class="time">
                        Time: <%= TNTSports2.time %>
                    </div>
                    <div class="progress"></div>
                    <div class="progress-completed 2" data-progress="<%= TNTSports2.progress %>"></div>
                      
                </div>
            </div>
          </div>
        </a>
        <!-- TNT Sports 3 Channel-->
        <a href='bt-sport3.html'><div id="tnt-sport3" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='BT Sport 3'>
                <img src='https://img01.products.bt.co.uk/content/dam/bt/portal/images/logos/tnt/TNTSports3_Logo_White_RGB_Logo.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">TNT Sports 3</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= TNTSports3.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= TNTSports3.description %></p>
                        <p class="full-content"><%= TNTSports3.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= TNTSports3.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 3" data-progress="<%= TNTSports3.progress %>"></div>        
              </div>
          </div>
          </div>
        </a>
        <!-- Sky Sports EPL Channel-->
        <a href='skysportsepl.html'><div id="skysportsepl" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Sky Sports Premier League'>
                <img src='https://images.metadata.sky.com/pd-logo/skychb_1303_darknow/164/50' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">Sky Sports Premier League</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= SkySportsEPL.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= SkySportsEPL.description %></p>
                        <p class="full-content"><%= SkySportsEPL.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= SkySportsEPL.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 4" data-progress="<%= SkySportsEPL.progress %>"></div>       
              </div>
          </div>
          </div>
        </a>
        <!--Premier Sports 1-->
        <a href='premiersports1.html'><div id="premiersports1" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Premier Sports 1'>
                <img src='https://www.thesportsdb.com/images/media/tvlogo/Premier_Sports.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">Premier Sports 1</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= PremierSports1.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= PremierSports1.description %></p>
                        <p class="full-content"><%= PremierSports1.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= PremierSports1.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 5" data-progress="<%= PremierSports1.progress %>"></div>         
              </div>
          </div>
          </div>
        </a>
        <!--Premier Sports 2-->
        <a href='premiersports2.html'><div id="premiersports2" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Premier Sports 2'>
                <img src='https://www.thesportsdb.com/images/media/tvlogo/Premier_Sports.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">Premier Sports 2</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= PremierSports2.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= PremierSports2.description %></p>
                        <p class="full-content"><%= PremierSports2.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= PremierSports2.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 6" data-progress="<%= PremierSports2.progress %>"></div>        
              </div>
          </div>
          </div>
        </a>
        <!--Sky Sports Main Event-->
        <a href='skysportsmainevent.html'><div id="skysportsmainevent" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Sky Sports Main Evenet'>
                <img src='https://o.remove.bg/downloads/e29bb2b4-03a1-4787-a895-d24d80650931/download-removebg-preview.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="40">
          </div>
          <div class="rightSide">
              <div class="title-row">Sky Sports Main Event</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= SkySportsMainEvent.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= SkySportsMainEvent.description %></p>
                        <p class="full-content"><%= SkySportsMainEvent.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= SkySportsMainEvent.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 7" data-progress="<%= SkySportsMainEvent.progress %>"></div>        
              </div>
          </div>
          </div>
        </a>
        <!--Sky Sports Football-->
        <a href='skysportsfootball.html'><div id="skysportsfootball" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Sky Sports Football'>
                <img src='https://o.remove.bg/downloads/b83e72a2-ba99-494a-8cca-b462a93d84bf/download-removebg-preview.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">Sky Sports Football</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= SkySportsFootball.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= SkySportsFootball.description %></p>
                        <p class="full-content"><%= SkySportsFootball.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= SkySportsFootball.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 8" data-progress="<%= SkySportsFootball.progress %>"></div>       
              </div>
          </div>
          </div>
        </a>
        <!--Sky Sports News-->
        <a href='skysportsnews.html'><div id="skysportsnews" class="channel" >
          <div class='leftSide' style="display:flex;flex-direction: column;margin-right: 5px; " >
              <a href='/tv-guide-bt-sport-1/' title='Sky Sports News'>
                <img src='https://o.remove.bg/downloads/e8d24cfb-2bf8-4002-870d-a2935966edbd/download-removebg-preview.png' style='max-width:60px' loading='lazy' alt='TV Guide BT Sport 1' />
              </a>
              <img src="/images/play-button.png" style="align-self: center;justify-content: center;" width="50" height="50">
          </div>
          <div class="rightSide">
              <div class="title-row">Sky Sports News</div>
              <div class="information-row">
                  <div class="titleAndDesc">
                      <h class="title"><%= SkySportsNews.title %></h>
                      <div class="truncated-text">
                        <p class="truncated-content"><%= SkySportsNews.description %></p>
                        <p class="full-content"><%= SkySportsNews.description %></p>
                      </div>
                  </div>
                  <div class="time">
                      Time: <%= SkySportsNews.time %>
                  </div>
                  <div class="progress"></div>
                  <div class="progress-completed 9" data-progress="<%= SkySportsNews.progress %>"></div>         
              </div>
          </div>
          </div>
        </a>
       </div>
     </div>

     <div class="upcoming">
      <h2 style="color: white;font-family: 'Alatsi', sans-serif;font-size: 22px;">Upcoming Premier League Matches</h2>
      <div id="fixtures-container">
        <button class="LeftScroll" id="LeftScroll" onclick="scrollHorizontally1(1)"><img src="https://o.remove.bg/downloads/73a1adbb-8947-4930-aeb6-ee6a1abe2fc4/arrows-icon-left-arrow-icon-back-icon-pointers-icon-white-black-text-logo-line-material-property-png-clipart-removebg-preview.png" width="25" height="30" style="position: relative;bottom:5px;right: 4px;"></button>
        <button class="RightScroll" id="RightScroll" onclick="scrollHorizontally1(-1)"><img src="https://o.remove.bg/downloads/6b74b198-4fab-43f1-86b4-89743d4a5f4d/arrow-icon-forward-icon-navigation-icon-png-clipart-thumbnail-removebg-preview.png" width="25" height="30" style="position: relative;bottom:5px;right: 0px;"></button>
      </div>
     </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

     
   <!--Href button-->
    <script>
      function redirectToHomePage(channelName) {
        // Construct the URL based on the home team ID and redirect to the page
        const url = `${channelName}.html`;
        window.location.href = url;
  }
        $('#bt-sport1').on('click', function () {
                  redirectToHomePage('bt-sport1');
                  });
    </script> 

<script>
  function redirectToChannel(channelName) {
    // Construct the URL based on the channelName and redirect to the page
    const url = `${channelName}.html`;
    window.location.href = url;
  }
  
  // Define an array of channel IDs
  const channelIds = ['tnt-sport1', 'tnt-sport2', 'tnt-sport3','skysportsepl','premiersports1'
  ,'premiersports2','skysportsmainevent','skysportsfootball','skysportsnews' /* Add more channel IDs */];
  
  // Attach click event listeners for each channel
  channelIds.forEach(channelId => {
    $(`#${channelId}`).on('click', function () {
      redirectToChannel(channelId);
    });
  });
  </script>
  


<!--Progress Bar-->
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const progressElements = document.querySelectorAll('.progress-completed');

    progressElements.forEach((element) => {
      const progressValue = parseFloat(element.getAttribute('data-progress'));
      const widthValue = progressValue / 100;
      element.style.width = `calc(${widthValue} * 235px)`;
    });
  });
</script>


<!--Scroll Settings-->
<script>
   let currentScrollPosition = 0;
   let scrollAmount = 600;  
   const sCont2 = document.querySelector(".live-channels-container");
    const hScroll2 = document.querySelector(".horizontal-scroll");
    const btnScrollLeft2 = document.querySelector("#LeftScroll");
    const btnScrollRight2 = document.querySelector("#RightScroll");

    btnScrollLeft2.style.opacity = "0";

    let maxScroll2 = -sCont2.offsetWidth + hScroll2.offsetWidth;

    function scrollHorizontally2(val){
            currentScrollPosition += (val * scrollAmount);

            if(currentScrollPosition >= 0){
               currentScrollPosition = 0
               btnScrollLeft2.style.opacity = "0";
            }else{
              btnScrollLeft2.style.opacity = "1";
            }

            if(currentScrollPosition <= maxScroll2){
              curentScrollPosition = maxScroll2;
              
            }else{
              btnScrollLeft2.style.opacity = "1";
            }

            sCont2.style.left = currentScrollPosition + "px";

    }
</script>


<!--api football for epl-->
<script>
  function convertTo12HourFormat(time) {
    const [hours, minutes] = time.split(':').map(Number);
    const period = hours >= 12 ? 'pm' : 'am';
    const formattedHours = ((hours + 11) % 12 + 1).toString();
    const formattedMinutes = minutes.toString().padStart(2, '0');
    return `${formattedHours}:${formattedMinutes} ${period}`;
}
  function formatDate(dateString) {
    const monthNames = [
      "January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"
    ];

    const year = dateString.slice(0, 4);
    const month = parseInt(dateString.slice(5, 7), 10);
    const day = dateString.slice(8, 10);
    const time = convertTo12HourFormat(dateString.slice(11,17))

    const formattedDate = `${monthNames[month - 1]} ${day}, ${year} at ${time}.`;
    return formattedDate;
  }
 
  function redirectToHomePage(homeTeamPng) {
      // Construct the URL based on the home team ID and redirect to the page
      const url = `epl/${homeTeamPng}.html`;
      window.location.href = url;
}

  async function fetchData() {
    const specificDate = '2023-08-19'; // Change this to the specific date you want
    const currentDate = new Date();
    const mdtTimeZone = 'America/Denver';
    const mdtOptions = { timeZone: mdtTimeZone, year: 'numeric', month: '2-digit', day: '2-digit' };

    const formattedDateParts = currentDate.toLocaleDateString('en-US', mdtOptions).split('/');
    const year = formattedDateParts[2];
    const month = formattedDateParts[0].padStart(2, '0');
    const day = formattedDateParts[1].padStart(2, '0');

    const formattedDate = `${year}-${month}-${day}`;
    const url = `https://api-football-v1.p.rapidapi.com/v3/fixtures?league=39&season=2023&from=${formattedDate}&to=${specificDate}&timezone=America%2FEdmonton`;
    const options = {
      method: 'GET',
      headers: {
        'X-RapidAPI-Key': '46ae53ee2fmsha23a061eb2aa0f4p1d95f5jsne40c433c9756',
        'X-RapidAPI-Host': 'api-football-v1.p.rapidapi.com'
      }
    };

    try {
      const response = await fetch(url, options);
      const data = await response.json();
      const fixtures = data.response;

      // Update the HTML with the API data
      const container = document.getElementById('fixtures-container');
      const liveContainer = document.getElementById('live-fixtures-container');

      fixtures.forEach(fixture => {
        const homeTeam = fixture.teams.home.name;
        const homeTeamPng = fixture.teams.home.id;

        const awayTeam = fixture.teams.away.name;
        const awayTeamPng = fixture.teams.away.id;

        const datePlayed = fixture.fixture.date; //-> "2023-07-23T20:00:00-06:00"
        const datePlayedFormatted = formatDate(datePlayed);
        console

        const description = homeTeam + '  vs  ' + awayTeam; // Update with the actual description
        const timeAndPlace = datePlayedFormatted; // Update with the actual time and place

        const currentDate = new Date();
        const liveTimeStamp = currentDate.getTime();

        const gameTimeStamp = fixture.fixture.timestamp * 1000;
        const secondHalfStamp = fixture.fixture.periods.second;

        const gameInProgress = fixture.fixture.status.long;
        const currentMin = fixture.fixture.status.elapsed;
        const liveGameBoolean = ["First Half","Kick Off","Halftime","Second Half","2nd Half Started","Extra Time","Break Time","Penalty In Progress","Match Interrupted","In Progress"]
        

  
        // Create a fixture container div
        const fixtureContainer = document.createElement('div');
        fixtureContainer.classList.add('data-container');
        fixtureContainer.setAttribute("id","data-container")
        

        // Create a team container for the home team
        const homeTeamContainer = document.createElement('div');
        homeTeamContainer.classList.add('team-container', 'home-team');
        const imgElementHome = document.createElement('img');
        imgElementHome.src = "https://media.api-sports.io/football/teams/" + homeTeamPng + ".png";
        homeTeamContainer.appendChild(imgElementHome);
        


        // Create a team container for the away team
        const awayTeamContainer = document.createElement('div');
        awayTeamContainer.classList.add('team-container', 'away-team');
        const imgElementAway = document.createElement('img');
        imgElementAway.src = "https://media.api-sports.io/football/teams/" + awayTeamPng + ".png";
        awayTeamContainer.appendChild(imgElementAway);

   
        // Create a paragraph element for the game description
        const gameTitle = document.createElement('h1');
        gameTitle.classList.add('game-title');
        gameTitle.innerHTML = description;

        const gameDescription = document.createElement('p');
        gameDescription.classList.add('game-description');
        gameDescription.innerHTML = timeAndPlace;


     
        fixtureContainer.appendChild(homeTeamContainer);
        fixtureContainer.appendChild(awayTeamContainer);
        fixtureContainer.appendChild(gameTitle);
        fixtureContainer.appendChild(gameDescription);
        

        //Append the fixture container to the main container
        container.appendChild(fixtureContainer);
        fixtureContainer.addEventListener('click', function () {
        redirectToHomePage(homeTeamPng);
            });

        const LiveFixtureContainer = document.createElement('div');
        LiveFixtureContainer.classList.add('live-data-container');

        if (liveGameBoolean.includes(gameInProgress) == true) {
            const LiveH1 = document.getElementById('LiveH1');
            // LiveH1.classList.add('LiveH1');
            LiveH1.innerHTML = 'Currently Playing'
            // LiveFixtureContainer.appendChild(LiveH1);
            $("#live").css("margin-bottom", "130px");

            const gameMinute = document.createElement('h1');
            gameMinute.classList.add('game-minute');
            gameMinute.innerHTML = currentMin + "'";


             const liveIMG = document.createElement('img');
             liveIMG.classList.add('liveIMG');
             liveIMG.src = "live.png";
             LiveFixtureContainer.appendChild(liveIMG);

             homeTeamContainer.appendChild(gameMinute);
           
            //  LiveFixtureContainer.appendChild(gameMinute);


            
            LiveFixtureContainer.appendChild(homeTeamContainer);
            LiveFixtureContainer.appendChild(awayTeamContainer);
            LiveFixtureContainer.appendChild(gameTitle);
            LiveFixtureContainer.appendChild(gameDescription);
            container.removeChild(fixtureContainer)
            liveContainer.appendChild(LiveFixtureContainer);
            LiveFixtureContainer.addEventListener('click', function () {
             redirectToHomePage(homeTeamPng);
            });
       }
      });

      

    } catch (error) {
      console.error(error);
    }
  }

  fetchData();
</script>

      
  </body>
</html>

